<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Courses</title>
</head>
<body>

	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Description</th>
				<th>Price</th>
				<th>Hours</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="course : ${courses}" >
				<th><span th:text="${course.name}">Name</span></th>
				<th><span th:text="${course.description}">Name</span></th>
				<th><span th:text="${course.price}">Name</span></th>
				<th><span th:text="${course.hours}">Name</span></th>
			</tr>
		</tbody>
	</table>
	
	<form action="#" th:action="@{/courses/addcourse}" th:object="${course}" method="post">
		<p><b> ADD Course</b></p>	
		<p>Name: <input type="text" th:field="*{name}" /> </p>
		<p>Description: <input type="text" th:field="*{description}" /> </p>
		<p>Price: <input type="number" th:field="*{price}" /> </p>
		<p>Hours: <input type="number" th:field="*{hours}" /> </p>
		<p><input type="submit" value="Submit" /> </p>
	</form>
	
	<form action="#"  th:action="@{/courses/removecourse}" th:object="${course}" method="post" >
		<p><b> REMOVE Course</b></p>
		<p>Name: <input type="text" th:field="*{name}" /> </p>
		<p>Description: <input type="text" th:field="*{description}" /> </p>
		<p>Price: <input type="number" th:field="*{price}" /> </p>
		<p>Hours: <input type="number" th:field="*{hours}" /> </p>
		<p><input type="submit" value="Submit" /> </p>
	</form>

</body>
</html>